<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>pet_project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<div class="login-card">
    <h4>Forgot your password?</h4>
    <form class="custom-form" method="post" action="reset">
        <p>We will send you an email with auth token. You will be able to change your password in your
            account</p>
        <input class="form-control" type="email" id="inputEmail" required name="email" placeholder="Enter your email"
               autofocus="">
        <button id="send_reset" class="btn btn-primary btn-block btn-lg btn-signin" type="submit">Submit</button>
    </form>
    <br>
    {% if error %}
        <div class="alert" id="err">
            <span class="message" onclick="this.parentElement.style.display='none';">&times;</span>
            <strong>Error: </strong> {{ error }}
        </div>
    {% endif %}
</div>
<script>
    $('#err').delay(10000).fadeOut();
</script>
</body>

</html>