<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>za_pazwardo</title>
    <style>
        #center {
            width: 300px;
            height: 200px;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
    </style>
</head>
<body>
<form id="center" action="/check">
    Enter password to receive your flag:<br><br>
    <!--We have recovered password partly: 24*secb7*5falqdss -->
    password format: [a-z1-9] <br><br>
    <input type="text" name="password"><br><br>
    <input type="submit" value="Submit">
    <p>{{ error }}</p>
</form>
</body>
</html>