<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>capthca_generator</title>
    <style>

        #center {
            width: 250px;
            height: 200px;

            background-color: white;
            border: 3px solid black;
            border-radius: 5px;

            padding-left: 10px;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            max-width: 100%;
            max-height: 100%;
            overflow: auto;
        }
    </style>
</head>
<body>
<form id="center" method="post" action="check">
    Compute this example to get flag<br>
    <img src="static/{{ image }}" width="200" height="30" alt="captcha"><br><br>
    <input type="text" name="example"><br><br>
    <input type="submit" value="Submit">
    <p id="result">{{ error }}</p>
</form>
</body>
</html>